@import 'tailwindcss';

:root {
  --background: thistle;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  gap: 20px;
}

.app-header {
  font-size: calc(10px + 2vmin);
}
